
[Unit]
Description=Levanta el Portal
After=syslog.target network.target

[Service]
Type=simple
ExecStart=/usr/bin/python /home/pi/Vladman/rfid_mariposas/portal.py
Restart=always

[Install]
WantedBy=multi-user.target
